* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0px;
    background-color: #e7e7e7;
}

.konten, .konten-utama {
    width: 900px;
    margin: auto;
}

header {
    padding: 15px 0;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.14) 0px 0px 4px 2px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.konten-utama {
    padding: 5px 0;
    margin-top: 90px;
    margin-bottom: 70px;
    overflow: hidden;
}

.kiri {
    float: left;
    width: 29%;
}
.kanan {
    float: right;
    width: 69%;
}
.kiri, .kanan {
    background-color: white;
}

header, footer {
    background-color: #040492;
    overflow: hidden;
}

header h1 {
    margin: 0px 10px 0px 10px;
    float: left;
    color: white;
}

header nav {
    float: right!important;
}

h2 {
    margin: 0px;
}

header nav, footer {
    padding: 10px 0;
}

footer p {
    margin: 0px;
    color: white;
    text-align: center;
}

header ul {
    margin: 0px;
    padding: 5px 0px;
}

header li {
    display: inline;
}

nav ul li {
    color: white;
}

header li a {
    /*padding: 8px;*/
    /*border: 1px solid white;
    /*background-color: #0043ff;*/
    /*border-radius: 3px;*/
    text-decoration: none;
    color: orange;
    transition: color 0.8s;
}

header li a:hover, .dipilih {
    /*background-color: yellow;*/
    color: white;
    cursor: pointer;
}

.artikel {
    margin: 10px;
}

.artikel h2 {
    border-bottom: 1px solid #244f9d;
    padding-bottom: 10px;
}

.kiri .artikel h2, .kiri .artikel h3 {
    text-align: center;
    border: 0;
}

.pesan-error {
    color: red;
}

input[type="text"], input[type="password"] {
    width: 200px;
    height: 15px;
    padding: 10px;
    border-radius: 5px;
    border: 1px #aeaeae solid;
    margin-top: 5px;
}
input[type="text"]:focus, input[type="password"]:focus {
    border-color:#66afe9;
    outline: 0;
}
input[type="submit"], input[type="reset"] {
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px #cecece solid;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}
form {
    border-radius: 5px;
    width: fit-content;
    margin: auto;
}
td ul {
    margin: 0px;
    padding: 0px 20px;
}

.info-pengguna {
    font-size: 9.5pt;
}