/**
 * CSS UNTUK SEMUA HALAMAN
 * Author: Kelompok dan disetting sendiri oleh yang bersangkutan (Author di HTML)
 */

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0px;
    background-color: #e7e7e7;
}

.konten, .konten-utama {
    width: 900px;
    margin: auto;
}

header {
    padding: 15px 0;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.14) 0px 0px 4px 2px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.konten-utama {
    padding: 5px 0;
    margin-top: 90px;
    margin-bottom: 70px;
    overflow: hidden;
}

.kiri {
    float: left;
    width: 29%;
}
.kanan {
    float: right;
    width: 69%;
}
.kiri, .kanan {
    background-color: white;
}

header, footer {
    background-color: #040492;
    overflow: hidden;
}

header h1 {
    margin: 0px 10px 0px 0px;
    float: left;
    color: white;
}

header nav {
    float: right!important;
}

h2 {
    margin: 0px;
}

header nav, footer {
    padding: 10px 0;
}

footer p {
    margin: 0px;
    color: white;
    text-align: center;
}

header ul {
    margin: 0px;
    padding: 5px 0px;
}

header li {
    display: inline;
}

nav ul li {
    color: white;
}

header li a {
    /*padding: 8px;*/
    /*border: 1px solid white;
    /*background-color: #0043ff;*/
    /*border-radius: 3px;*/
    text-decoration: none;
    color: orange;
    transition: color 0.8s;
}

header li a:hover, .dipilih {
    /*background-color: yellow;*/
    color: white;
    cursor: pointer;
}

.artikel {
    margin: 10px;
}

.artikel h2 {
    border-bottom: 1px solid #244f9d;
    padding-bottom: 10px;
}

.kiri .artikel h2, .kiri .artikel h3 {
    text-align: center;
    border: 0;
}

.pesan-error {
    color: red;
    font-size: 12px;
}

input[type="text"], input[type="password"], select, textarea {
    width: 200px;
    height: 15px;
    padding: 10px;
    border-radius: 5px;
    border: 1px #aeaeae solid;
    margin-top: 5px;
}
textarea {
    height: 40px;
}
select, option {
    height: 40px;
    width: 220px;
}
input[type="text"]:focus, input[type="password"]:focus, select:focus, textarea:focus {
    border-color:#66afe9;
    outline: 0;
}
input[type="submit"], input[type="reset"], button {
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px #cecece solid;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}
form {
    border-radius: 5px;
    /*width: fit-content;*/
    margin: auto;
}
td ul {
    margin: 0px;
    padding: 0px 20px;
}

.info-pengguna, .pesan-mini {
    font-size: 9.5pt;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}

.kiri .artikel li a {
    text-decoration: none;
    color: blue;
    cursor: pointer;
    padding: initial;
    transition: color 0.8s;
}

.kiri .artikel li a:hover {
    color: white;
}

.kiri .artikel li:hover, .disini {
    background-color: #007bff;
    color: white;
}

.kiri .artikel li {
    margin: 5px 0px;
    padding: 6px;
    display: inherit;
    transition: background-color 0.8s;
}

.kiri .artikel ul {
    padding: 0px;
}

.isian-luar {
    margin: auto;
    width: 450px;
}

.isian-luar .isian .l-col {
    width: 130px;
    padding-top: 10px;
}

.isian .l-col2 {
    float: left;
    width: 130px;
}

.isian .l-col {
    float: left;
    width: 95px;
}
.captcha {
    margin-top: 10px;
}
.baris {
    overflow: hidden;
    margin: 10px 0 10px 0;
}
.form-login {
    margin: auto;
    width: 222px;
}

tr, td, th, table {
    border: 1px solid black;
    border-radius: 3px;
}