# HTACCESS: PENGATURAN SERVER CLEAN URL AGAR TIDAK PERLU .php DI BELAKANG URL
# Author: 160411100153 MOCH. AMIR

# mengaktifkan modul rewrite apache
RewriteEngine On
# mengecek jika user merequest file dan bukan folder
RewriteCond %{SCRIPT_FILENAME} !-d
# maka request akan ditambah .php di belakangnya dan query string mengikuti
RewriteRule ^([^.]+)$ $1.php [NC,L]